.search-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    .material-full-width{
        width: 320px;
    }
}
.event-image{
    height: 350px;
}
.mat-card{
    margin: 5px 0px;
}